<ng-container *ngIf="showLanding; else mainApp">
  <app-landing-page (startApp)="onStartApp()"></app-landing-page>
</ng-container>

<ng-template #mainApp>
  <div @slideTransition class="main-app-shell">
    <app-stars-background></app-stars-background>
    <div class="app-shell">
      <div class="shell-header">
        <img src="quran-icon.png" alt="" height="100" width="100">
        <h1 class="montserrat-heading">Tafakkur AI</h1>
      </div>
      <app-journal [(showLoader)]="showLoader"></app-journal>
      <div class="loader" *ngIf="showLoader"></div>
    </div>
  </div>
</ng-template>
